<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1014202248157-givvhqfa3d7d9uuigmem2ek11ipocv02.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1014202248157-givvhqfa3d7d9uuigmem2ek11ipocv02</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1014202248157-9h6kcae3g7vsbegvm8mm15osu559090j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYLh7UfWEMJeOL6GMVyuQWih_ANUOcrBU</string>
	<key>GCM_SENDER_ID</key>
	<string>1014202248157</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vervebot.dating</string>
	<key>PROJECT_ID</key>
	<string>dating-app-25717</string>
	<key>STORAGE_BUCKET</key>
	<string>dating-app-25717.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1014202248157:ios:aa61bd1adb07174a1f2434</string>
	<key>DATABASE_URL</key>
	<string>https://dating-app-25717-default-rtdb.firebaseio.com</string>
</dict>
</plist>